*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
div{
    display: inline-block;
    background-color: blueviolet;
    width: 49vw;
    height: 600px;
}
#ani{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top:150px;
    width: 300px;
    height: 300px;
    background: red;
    display: block;
    animation:ani 6s infinite ease-in-out;
}
@keyframes ani {
    0% {background-color: red;}
    20% {background-color: black;}
    40% {background-color: aqua;}
    60% {background-color: red;}
    80% {background-color: black;}
    100% {background-color: aqua;}
}
#ani2{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top:150px;
    width: 300px;
    height: 300px;
    background: red;
    display: block;
    animation: ani2 6s infinite ease-in-out;
}
/* #ani3:hover {
    animation: ani3 3s infinite ease-in-out;
} */
@keyframes ani2 {
    50% {transform: rotate(360deg);}
}
/* body {
overflow-x: hidden;
} */
.div3{
    display: inline-block;
    background-color: blueviolet;
    width: 98.3vw;
    height: 600px;
    align-items: center;
}
#ani3{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top:150px;
    width: 300px;
    height: 300px;
    background: red;
    display: block;
    animation:ani3 3s infinite ease-in-out;
}
@keyframes ani3 {
    0% {width: 300px;}
    50%{width: 1100px;}
    100%{width: 300px;}
}
#ani4{
    margin-left: 150px;
    display: inline-block;
    margin-top:150px;
    width: 300px;
    height: 300px;
    background: red;
    display: block;
    animation:ani4 3s infinite ease-in-out;
}
@keyframes ani4 {
    0% { margin-left: 150px;}
    50%{ margin-left: 1000px;}
    100%{ margin-left: 150px;}
}
#ani5{
    margin-left: 150px;
    display: inline-block;
    margin-top:150px;
    width: 300px;
    height: 300px;
    background: red;
    display: block;
    animation:ani5 3s infinite ease-in-out alternate-reverse;
    align-items: center;
}
@keyframes ani5 {
    100% { margin-left: 150px; width: 300px; height: 300px;}
    50%{ margin-left: 650px; width: 150px; height: 150px;}
    0%{ margin-left: 1000px; width: 300px;height: 300px;}
}